/* Reset code */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size:62.5%
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    line-height: 2.2rem;
}
ul{
    list-style: none;
}
a{
    text-decoration:none;
}
.header{
    display:flex;
    width:100%;
   justify-content: space-around;
}
.logo a{
    display:block;
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding:10px 5px;

}
.logo-part-2{
    color:teal;
}
.menu{

}
.socials ul li, .menu ul li{
    display: inline-block;
}
.menu ul li a{
    display:block;
    padding:1rem 2rem;
    text-transform: uppercase;
    color: #fff;
}

.parent{
    display:flex;
    width:90%;
    justify-content:space-between;
    align-items: center;
}
.left-side {
    width: 50%;
    color: #fff;
    padding:0.5rem;
    margin-left:67px;
    background-color: rgba(24, 18, 18, 0.11);
  }
  .title{
      margin-bottom:1.7rem;
        
  }
  .title-span{
      color: teal;
      letter-spacing: 0.8rem;
      text-transform:uppercase;
      border-bottom: 1px solid #fff;
  }
  .sub-title{
    color: teal;
    text-transform:uppercase;
    letter-spacing: 0.3rem;   
  }
  .description{
    margin-top: 2rem;
    margin-bottom: 2rem;
      font-size:1.6rem;
      line-height:2.5rem;
  }
  .designation{
      color: teal;
      border-bottom: 1px solid #fff;
      font-weight: 900;
      letter-spacing:.2rem;
  }
  .details-btn {
      color: #fff;
    font-size:2.2rem;      
    padding: 1rem 4rem;
    border: none;
    border-radius: 10rem;
    background-image: linear-gradient(45deg, teal, #333);   
    transition:0.8s;
  }
  .details-btn:hover {
    background-image: linear-gradient(45deg, rgb(26, 34, 34), tomato, #333);
    color: #333;
    cursor: pointer;
  }
  #resume{
      margin-left: 9rem;
  }
  .socials{
      display:flex;
      justify-content: center;
      margin-top:2rem;
  }
  .socials ul li a{
    display:block;
    padding:1rem 2rem;
  }
  .socials ul li a i{
      font-size:3rem;
      color: #fff;
  }
.photo{
    width: 40rem;
    height:37.7rem;
    border-radius:30% 70% 70% 30% / 30% 30% 70% 70% ;
    background-color: teal;
    position: relative;
}
.photo img {
    position: absolute;
    width: 85%;
    top: -17rem;
    left:-15.3rem;
    transform:translate(50%,50%);
  }
  .services-section{
      background-color: rgba(51, 51, 51, 0.308);
  }
.service-section{
    color: teal;
    text-transform: uppercase;
    text-align: center;
    font-size:3.2rem;
    font-weight:700;
    margin-bottom:5rem;
}
  .services{
      display:flex;
      width: 100%;
      justify-content: space-around;
      padding:1.5rem 3rem;
  }
  .single-service{
      padding:1.5rem 3rem;
      box-shadow: 10px 10px 20px #ddd; 
      width:30%;     
  }
  .single-service h3{
      text-align:center;
      text-transform:uppercase;
      font-size:2.2rem;
      color:white;
      margin-bottom:1rem;
  }
  .div-img{
      padding:1.5rem 3rem;  
      text-align: center; 
     
  }
  .div-img img{
    width:70%;
  }
  #img-adj{
      height:115px;
  }
  .service-description{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding:1rem 0.5rem;
      font-size:1.6rem;
      line-height:2.5rem;
      color: #fff;  
  }
  .recent-projects-title{
    color: teal;
    text-transform: uppercase;
    text-align: center;
    font-size:3.2rem;
    font-weight:700;
    margin-bottom:5rem;
    margin-top:5rem;
  }
  /* .recent-projects{
      display: flex;   
  } */
  .lead-project{
      display: flex;
      justify-content:space-between;
  }
  .project-image{
    padding:1.5rem 3rem;  
    text-align: center; 
   
  }
  .project-image img{
    width:70%;
  }
  .lead-educare h3{
      color:#fff;
      font-size:2.2rem;
      font-weight:700;
      padding:1.5rem 3rem;
  }
  .project-description{
      color: #fff;
      padding:1.5rem 3rem;
  }
  .project-description p{
      margin-bottom:1.5rem;
  }
  .project-description ul{
      list-style:square;
  }
  .live-preview{
      margin-right:3rem;
      margin-top: 2rem;
  }
  .source-code{
    margin-top: 2rem;
  }
  .hf-project{
    display: flex;
    justify-content:space-between;
  }
  .hf-project-image{
    padding:1.5rem 3rem;  
    text-align: center; 
    width:100%;  
    
  }
  .hf-project-image img{
    width:70%;    
  }
  .more-projects{
      text-align:center;
      margin-top:3rem;
      margin-bottom: 3rem;
  }
  .footer-content {
    margin-top: 50px;
  }
  .footer-text {
    text-align: center;
    color: #fff;
  }